* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(150px, 275px) 1fr;
    grid-template-rows: 1fr;
}

.todo-nav {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #d3d3d3;
    padding: 1.5em 2em;
}

.nav-logo {
    color: #5b5b5b;
    font-size: 3rem;
    font-weight: 700;
}

.nav-tabs {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.tab-item {
    padding: 0.5em;
    margin: 0;
    text-align: center;
    font-size: 1.1em;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #c1c1c1;
    user-select: none;
}

.tab-active {
    background-color: #939393;
}

.todo-main {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr;
}

.todo-container {
    padding: 1.5em 2em;
    list-style-type: disc;
}

.task-item {}

.item-title {
    margin: 0.3em 0;
    font-size: 1.2rem;
}

.item-info {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-item {}

.info-title {}

.info-data {
    text-decoration: none;
    font-weight: 700;
}

.info-desc {}

#modal-add-task {
    border: none;
    box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
}

#new-task-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
}

.form-input-field { }

.modal-controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8em;
}

.action-btn {
    padding: 0.5em;
    color: rgb(255 255 255);
    border: none;
    background-color: rgb(0 0 0);
    text-transform: uppercase;
    font-weight: 600;
}

.action-btn:hover {
    color: rgb(0 0 0);
    background-color: #d3d3d3;
    cursor: pointer;
}

.nav-controls {
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls-btn {
    padding: 0.7em;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 4px;
}

#new-group-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}