* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(150px, 275px) 1fr;
    grid-template-rows: 1fr;
}

.todo-nav {
    background-color: lightgray;
    padding: 1.5em 2em;
}

.nav-logo {
    color: #5b5b5b;
    font-size: 3rem;
    font-weight: 700;
}

.todo-main {
    padding: 1.5em 2em;
    background-color: white;
}

.todo-container {
    padding: 0;
    list-style-type: decimal;
}

.todo-item {}

.item-title {
    margin: 0.3em 0;
    font-size: 1.2rem;
}

.item-info {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.info-title {
    font-weight: 700;
}

.info-data {
    text-decoration: underline;
}